{% extends 'food_vis/base.html' %}

{% block content %}
    <div class="d-flex flex-column">I'm an inline flexbox container!
        <a href="#" class="list-group-item list-group-item-action">Names of ZONES</a>

        
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Gulmi</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Palpa</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Butwol</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Argakhanchi</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Tamghas</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Resunga</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">Arjun</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Jhirbas</a>
    </div>  
{% endblock content %}


